header {
    background-color: #FDDFC3;
    margin: 0;
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-items: center;
    padding: 17px 35px 0 35px;
    align-items: center;
    justify-content: space-between;
}

header div {
    display: flex;
    align-items: center;
    gap: 23px;
}

header p {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

header a {
    color: #262626;
    text-decoration: none;
    font-size: 12px;
}

header nav {
    margin: 0;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 34px;
    list-style-type: none;
}

header nav ul li:hover {
    text-decoration: underline;
}

header a.active {
    font-weight: bold;
}

hr {
    border-bottom: solid #262626 2px;
    margin: 0;
    margin-top: 16px;
}

body {
    background-color: #FDDFC3;
    margin: 0;
}


main h1{
    font-size: 64px;
    margin: 0;
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-items: center;
    padding: 60px  125px;
    align-items: center;
    justify-content: space-between;
    
}


section.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 125px;
    margin-top: -60px;
    
    
    
    
}

section.card h3{
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    margin: 20px;
    
}



section.card img{
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    
    
    
}


section.card div{
    background-color: #FBD4B3; 
    
    
}






section.loghi{
    
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 108px;
    gap: 30px;
        
}

section.link{
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 10px;
    margin-top: -100px;
    
}

footer a{
    color: #9B816B;
    text-decoration: none;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}

footer a{
  font-size: 12px;
  justify-items: center;
  align-items: center;
  display: flex;
    
}

footer nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 34px;
    list-style-type: none;
}


footer nav ul li:hover {
    text-decoration: underline;
}

